@{
    ViewBag.Title = "About";
}
<div class="sub-content-wrapper">
    <h2>@ViewBag.Title</h2>
    <hr />
    <h4>
        Diplom Project for Bachelor degree of <b>Antonia Ivanova Nikolova</b>
        <br /> Student at Technical University - Varna, 4-th year
        <br /> Speciality: <b>Computer Science and Technologies</b>
        <br /> Student Number: <b>61360428</b>
    </h4>
    <hr />
    <p> The developed project represents a Law Office Management System. </p>
</div>