@{
    ViewBag.Title = "Home Page";
}


    <div class="row home-page">
        <div class="home-text-heading">
            <div class="home-text-heading-text">
                <h1>Welcome to <b> Law Office</b></h1>
            </div>
        </div>
    </div>