@{
    ViewBag.Title = "My Homepage";
}
    <div class="row content-row">
        @Html.Partial("_LeftSideBar")
        <div class="sub-content-wrapper column">
            <div class="sub-content">
                <h2>@ViewBag.Title</h2>
                <hr />
            </div>
        </div>
    </div>

